/* src/styles/Footer.css */
.footer {
  width: 100%;
  padding: 20px;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-size: 14px;
}
