/* src/styles/Header.css */
.header {
  width: 100%;
  padding: 20px;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header-buttons button:hover {
  background-color: var(--button-hover-background-color);
}

